.wrapper {
  width: 900px;
  position: relative;
  margin: 0 auto;
}

.card {
  width: 120px;
  height: 180px;
  transition: transform 1s;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s;
  -webkit-transform-style: preserve-3d;
}

.container {
  float: left;
  width: 122px;
  height: 182px;
  position: relative;
  perspective: 800px;
}

.card.flipped {
  transform: rotateY( 180deg );
  -webkit-transform: rotateY(180deg); /* Safari & Chrome */
  -moz-transform: rotateY(180deg); /* Firefox */
  -ms-transform: rotateY(180deg); /* Internet Explorer */
  -o-transform: rotateY(180deg); /* Opera */

}

.card div {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  backface-visibility: hidden;
}



.card .front {
  transform: rotateY( 180deg );
  -webkit-transform: rotateY(180deg); /* Safari & Chrome */
  -moz-transform: rotateY(180deg); /* Firefox */
  -ms-transform: rotateY(180deg); /* Internet Explorer */
  -o-transform: rotateY(180deg); /* Opera */
}

.congrats {
  top: 200px;
  left: 50%;
  margin: 20px;
  padding: 50px;
  font-size: 30px;
  text-align: center;
  position: absolute;
  background: #fff;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%); /* Safari & Chrome */
}

.congrats span {
  color: blue;
  cursor: pointer;
}

